.mobile-menuBtn{
  display: none;
  @include lg{
    display: block;
  }
}

.btn{
  padding: 10px 60px;
  display: inline-block;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &--primary{
    transition: .2s;
    color: #fff;
    background: $primaryColor;
    &:hover{
      background: darken($primaryColor, 10%);
    }
  }
  &--disabled{
    transition: .2s;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    color: #8D8C8C;
    background-color: #D7D7D7;
  }
}